
.atasan-fixed .atasan-limiter{max-width:1200px;margin:0 auto;}
.icone{float:center;opacity:1;}
.icone:hover{opacity:0.8;}
.atasan-fixed-placeholder{height:80px;display:none;}
.atasan-fixed .atasan-limiter h1{float:left;font:normal 28px Cookie, Arial, Helvetica, sans-serif;line-height:40px;margin:0;}
.atasan-fixed .atasan-limiter h1 span{color:#5383d3;}
.atasan-fixed .atasan-limiter a{text-decoration:none;}
.atasan-fixed .atasan-limiter nav{font:16px Arial, Helvetica, sans-serif;line-height:40px;float:right;}
.atasan-fixed .atasan-limiter nav a{display:inline-block;padding:0 5px;text-decoration:none;color:#ffffff;opacity:0.9;}
.atasan-fixed .atasan-limiter nav a:hover{opacity:0.9;margin-top:-10px;color:#000;}
.atasan-fixed .atasan-limiter nav a.selected{color:#608bd2;pointer-events:none;opacity:1;}
body.fixed .atasan-fixed{padding:10px 40px;height:50px;position:fixed;width:100%;top:0;left:0;z-index:1;}
body.fixed .atasan-fixed-placeholder{display:block;}
body.fixed .atasan-fixed .atasan-limiter h1{font-size:24px;line-height:30px;}
body.fixed .atasan-fixed .atasan-limiter nav{line-height:28px;font-size:13px;}
@media all and (min-width:768px){
	.atasan-fixed{  position: absolute;
}
}
@media all and (max-width:600px){.icone{margin-left:0px;float:center;padding:0px 8px 0px 9px;margin-top:-7px;}
.atasan-fixed{padding:20px 0;
    position: relative;
	    margin-bottom: -100px
}
.atasan-fixed h1{
	    text-align: center !important;
}
.atasan-fixed .atasan-limiter
{    text-align: center;}
.atasan-fixed .atasan-limiter h1{float:none;margin:-8px 0 10px;text-align:center;font-size:24px;line-height:1;}
.atasan-fixed .atasan-limiter nav{line-height:1;}
.atasan-fixed .atasan-limiter nav a{font-size:13px;}
body.fixed .atasan-fixed{display:none;}
}
body{margin:0;padding:0;height:1500px;}