@charset "utf-8";
 body {
    overflow: hidden;
    margin: auto;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #42275a;  /* fallback for old browsers */
background: #9D50BB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* preloader background color */
    z-index: 99; /* makes sure it stays on top */
}

#status {	
    color: #fff;
    font-size: 6em;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 55%; /* centers the loading animation vertically one the screen */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}