* {
	-webkit-transition: .7s ease-out;
	-moz-transition: .7s ease-out;
	-o-transition: .7s ease-out;
	transition: .7s ease-out;
	list-style: none;
}


/*================================
TYPOGRAPHY
================================*/

.white {
	color: white;
}

body {
	font-family: 'Raleway', sans-serif;
	line-height: 1.8em;
}

.bigicon {
	font-size: 5em;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 18px;
	line-height: 1.4em;
}

p {
	letter-spacing: 1px;
	color: #191919;
	font-weight: lighter;
}

#judul-h1 {
	font-size: 33px;
	font-family: "Montserrat", sans-serif;
}

#judul-h3 {
	padding-top: 50px;
	font-size: 45px;
}

#judul-h2 {
	font-weight: bold;
	font-size: 42px;
}

#judul-h4 {
	font-size: 2.1em;
	padding-bottom: 10px;
}

.judul-h3-2 {
	font-size: 30px;	
}

.text {
	font-weight: 500;
	font-size: 18px;
	padding-bottom: 25px;
}

.text-center {
	text-align: center;
}


/*================================
DEFAULT STYLE & FORMATING
================================*/

.sectionhead {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

.title-bar {
	color: #fff!important;
	padding: 30px 0;
	background-color: none;
	background-image: linear-gradient(to right, #023082 0%, #7a49a0 100%);
}

.rounded {
	font-weight: 300;
	width: 220px;
	margin: 0 auto;
	text-align: center;
	letter-spacing: -1px;
	color: #fff !important;
	padding: 10px 20px;
	border-radius: 30px;
	border: #ffffff 2px solid;
}

ul {
	padding: 0;
}

a {
	color: #ea9312
}

a:hover {
	color: #c3c3c3;
	text-decoration: none;
}

#services {
	text-align: center;
	color: white;
}

.col-md-3 {
	padding: 0;
}

hr.separetor {
	width: 120px;
	color: #363942;
	border-top: 2px solid #ea9312;
}

hr.separetor2 {
	width: 200px;
	color: #363942;
	border-top: 3px solid #ea9312;
}

.btn-default {
	background: none;
	border: none;
	text-transform: uppercase;
	margin: 50px 0;
	color: #c3c3c3;
	letter-spacing: 2px;
}

.btn-default:hover {
	background: none;
	color: #ea9312;
}

.btnicon,
.brandicon {
	margin-right: 10px;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	margin: 20px 0 40px;
	height: 0;
}

.video iframe {
	background: #1e515c;
	border: 5px solid #4b8996;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video img {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

.bodere-video {
	border: 5px solid #0a3798;
	max-width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.judul-modul {
	display: none !important;
	background-image: linear-gradient(-225deg, #319c6d 0%, #29c39d 48%, #4596FB 100%);
	color: #fff;
	position: relative;
	margin-bottom: -20px;
	height: auto;
	padding: 5px 15px 0px 20px;
	z-index: 9999;
	position: relative;
	display: inline-block;
	float: right;
	margin-top: -25px;
	margin-right: -8px;
	transform: skew(0deg, 3deg);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grow {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.grow:hover {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}


/* General button style (reset) */

.button {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 18px 150px;
	display: inline-block;
	margin: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button-5 {
	border: 3px solid white;
	border-radius: 15px;
	color: white;
	min-height: 70px;
	min-width: 260px;
	line-height: 54px;
	font-size: 27px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.button-5:active {
	background: white;
	top: 2px;
}

.button-5 span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.button-5>.fa {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 1.9;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button-5:active>.fa {
	color: #53AFE8;
}


/* Button 5a */

.button-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.button-5a>.fa {
	left: 0;
	top: -90%;
}

.button-5a:hover>.fa {
	top: 0;
}

.btn-slide,
.btn-slide2 {
	position: relative;
	display: inline-block;
	height: 53px;
	width: 300px;
	line-height: 50px;
	padding: 0;
	border-radius: 50px;
	background: #fdfdfd;
	border: 2px solid #0099cc;
	margin: 10px;
	transition: .5s;
	font-size: 25px;
}

.btn-slide2 {
	border: 2px solid #f29504;;
}

.btn-slide:hover {
	background-color: #0099cc;
}

.btn-slide2:hover {
	background-color: #f29504;;
}

.btn-slide:hover span.circle,
.btn-slide2:hover span.circle2 {
	left: 100%;
	margin-left: -45px;
	background-color: #fdfdfd;
	color: #0099cc;
}

.btn-slide2:hover span.circle2 {
	color: #f29504;;
}

.btn-slide:hover span.title,
.btn-slide2:hover span.title2 {
	left: 40px;
	opacity: 0;
	font-size: 30px;
}

.btn-slide:hover span.title-hover,
.btn-slide2:hover span.title-hover2 {
	opacity: 1;
	left: 40px;
}

.btn-slide span.circle,
.btn-slide2 span.circle2 {
	display: block;
	background-color: #0099cc;
	color: #fff;
	position: absolute;
	float: left;
	margin: 5px;
	line-height: 42px;
	height: 40px;
	width: 40px;
	top: 0;
	left: 0;
	transition: .5s;
	border-radius: 50%;
}

.btn-slide2 span.circle2 {
	background-color: #f29504;;
}

.btn-slide span.title,
.btn-slide span.title-hover,
.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
	position: absolute;
	left: 90px;
	text-align: center;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
	color: #30abd5;
	transition: .5s;
	font-size: 30px;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
	color: #f29504;;
	left: 80px;
	font-size: 30px;
}

.btn-slide span.title-hover,
.btn-slide2 span.title-hover2 {
	left: 80px;
	opacity: 0;
}

.btn-slide span.title-hover,
.btn-slide2 span.title-hover2 {
	color: #fff;
}


/*==================================================
 * Effect 6
 * ===============================================*/

.effect6 {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect6:before,
.effect6:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	top: 50%;
	bottom: 0;
	left: 10px;
	right: 10px;
	-moz-border-radius: 100px / 10px;
	border-radius: 100px / 10px;
}

.effect6:after {
	right: 10px;
	left: auto;
	-webkit-transform: skew(8deg) rotate(3deg);
	-moz-transform: skew(8deg) rotate(3deg);
	-ms-transform: skew(8deg) rotate(3deg);
	-o-transform: skew(8deg) rotate(3deg);
	transform: skew(8deg) rotate(3deg);
}


/*==================================================
 * Effect 8
 * ===============================================*/

.effect8 {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect8:before,
.effect8:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	top: 10px;
	bottom: 10px;
	left: 0;
	right: 0;
	-moz-border-radius: 100px / 10px;
	border-radius: 100px / 10px;
}

.effect8:after {
	right: 10px;
	left: auto;
	-webkit-transform: skew(8deg) rotate(3deg);
	-moz-transform: skew(8deg) rotate(3deg);
	-ms-transform: skew(8deg) rotate(3deg);
	-o-transform: skew(8deg) rotate(3deg);
	transform: skew(8deg) rotate(3deg);
}

.tom-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}


/*================================
HERO AREA
================================*/

#hero {
	color: #fff;
	text-align: center;
	background: url(../img/bg-2.jpg)no-repeat;
	/*your background image*/
	background-size: cover;
	max-height: 880px;
	overflow: hidden;
}

.herocontent {
	padding-top: 90px;
	width: 100%;
	max-width: 900px;
}

.heroshot {
	margin-top: 20px;
	width: 100%;
	max-width: 1200px;
}


/*================================
CLIENTS SECTION
================================*/

#clients {
	background-color: white;
}

#clients h2 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 2.8em;
	text-align: right;
	color: #3c3a3b;
}

h2 span#subscriber {
	color: #ffca0a;
}

#clients .col-md-6 {
	padding-bottom: 0;
}

#clients a img {
	width: 314px;
	padding-top: 28px;
}

#parallax {
	/* The image used */
	background-image: url('../img/bg.jpg');
	/* Full height */
	height: 100%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#parallax2 {
	/* The image used */
	background-image: url('../img/bg3.jpg');
	/* Full height */
	height: 100%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#parallax3 {
	/* The image used */
	background-image: url('../img/bg4.jpg');
	/* Full height */
	height: 100%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#secure {
	padding: 25px 0;
}


/*--
	wrapper Start 
--*/

#intro {
	padding: 25px 0;
	background: #fbfdfe;
}

#intro .block h2 {
	font-family: sans-serif;
	padding-top: 105px;
	line-height: 55px;
	margin: 0;
}

#intro .block h3 {
	font-size: 26px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #424242;
	padding-top: 10px;
	letter-spacing: 4px;
}

#intro .block img {
	width: 100%;
}

#intro .section-title {
	margin-bottom: 0px;
}

#intro .section-title p {
	padding-top: 20px;
}


/*================================
FITUR SECTION
================================*/

#fitur {
	text-align: center;
	background-color: white;
}

.fitur {
	padding-top: 60px;
}


/*================================
IMAGE FRAME
================================*/

.image-frame {
	position: relative;
	z-index: 1;
	display: inline-block;
}

.image-frame img {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.image-frame:before,
.image-frame::after {
	-webkit-box-shadow: 0 0 7px 4px rgba(104, 104, 104, 0.5);
	box-shadow: 0 0 7px 4px rgba(104, 104, 104, 0.5);
	content: " ";
	display: table;
	width: 49%;
	height: 0;
	position: absolute;
	bottom: 6px;
	z-index: -2;
}

.image-frame:before {
	left: 4px;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.image-frame:after {
	right: 4px;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}